attrs
certifi
charset-normalizer
filelock
fsspec
geojson
h11
hf-xet
huggingface-hub
idna
markdown-it-py
mdurl
numpy
outcome
packaging
pillow
Pygments
pyproj
PySocks
PyYAML
regex
requests
rich
safetensors
selenium
shapely
sniffio
sortedcontainers
tokenizers
tqdm
transformers @ git+https://github.com/huggingface/transformers.git@155fd926d25bcc556bb53550ad853fc7f4e24d73
trio
trio-websocket
typing_extensions
urllib3
websocket-client
wsproto
webdriver-manager
